<div class="container">
    <div class="headerobjectswrapper row">
        <div class="col-md-12">
            <header class="text-center">Hacker News</header>
        </div>
    </div>
</div>
<div class="subhead text-center">
    <p>New Brunswick, NJ - Thursday August 22, 1978 - Scraped News</p>
    <button id="newScrape">Scrape New Articles </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 headlines articles content">
           {{#each article}}
            <span class=" float-left singleArticle">
                {{image}}
                <p class="colM headlines" data-id="{{_id}}">{{title}} <a href="{{ink}}" class="float-left">click on this
                        link to see article</a></p>

            </span>
            {{/each}}
        </div>
        <div class="col-lg-4">
            <img class="media" src="https://media.giphy.com/media/7vfhdCIn13zm8/giphy.gif" alt="">
            <div id="notes"></div>
    </div>
            
        </div>
    </div>
</div>

{{!-- <div class="content">
    <div class="colM">
        <div class="colM">
            
        <div class="colM">
            <div class="head"><span class="headline hl5">SCRAPE SCRAPE scrape</span>
                <p><span class="headline hl6">not sure about this content</span></p>
            </div>
            Scrapey scrap scrpaey scrap</p>
            <figure class="figure">
                
                <figcaption class="figcaption">Hermine hoping for courage.</figcaption>
            </figure>

            <p>Scrapey scrap scrpaey scrap p tag</p>

            <p>scrappeasdfglkjsdfhglksjdfhgl p tag</p>

        </div>
        <div class="colM">
            <div class="head"><span class="headline hl1">Rutgers yayayaya</span>
                <p><span class="headline hl2">To scrape or not to scrape taht is the questions</p>
                <figure class="figure">
                    <img class="media" src="https://media.giphy.com/media/kzB53ztQtSEkE/giphy.gif" alt="">
                    <figcaption class="figcaption">"This time, let go your conscious self and act on instinct."
                    </figcaption>
                </figure>
                <p>CANNOT SCRAOE ANYTHING SO FRUSTRATING!!!</p>
                <p>Done with scraping I give up!!!</p>
            </div>
            <div class="colM">
                <div class="head"><span id="" class="headline hl3">scraping sucks! </span>
                    <p><span class="headline hl4">yuck scrape</span></p>
                </div>
                <p></p>scrappeasdfglkjsdfhglksjdfhgl

                <p>NO MORE SCRAPING PLEASE </p>
            </div>
        </div>
    </div> --}}

</body>