<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;"><a
                    href="/weather/today/l/6b6b26cc1caf3be2740be2c590ef77cd79d64bb2bb0dd410648947f4d970c99b"
                    data-from-string="savedLocations_location_1" classname="styles__weatherData__yqs5y"
                    class="styles__weatherData__yqs5y">
                    <icon classname="icon icon-svg icon-svg-light icon-mostly-sunny icon-34"
                        class="icon icon-svg icon-svg-light icon-mostly-sunny icon-34"><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="-5 -5 208 208" class="svg-mostly-sunny">
                            <defs>
                                <mask id="mostly-sunny-mask">
                                    <rect width="100%" height="100%" fill="#FFF"></rect>
                                    <use xlink:href="#svg-symbol-cloud" transform="translate(92 10) scale(.7125)"
                                        stroke-width="12" stroke="#000"></use>
                                </mask>
                            </defs>
                            <use class="svg-sun" xlink:href="#svg-symbol-sun" transform="scale(.8)"
                                mask="url(#mostly-sunny-mask)"></use>
                            <use class="svg-cloud" xlink:href="#svg-symbol-cloud" transform="matrix(.57 0 0 .57 74 8)"
                                stroke-width="0"></use>
                        </svg>
                    </icon><span classname="styles__temperature__1VbnH" class="styles__temperature__1VbnH">80°</span>
                </a></span><br><span>blah blah poop</span></div>
        <header>Hacker News</header>
    </div>

    <div class="subhead">New Brunswick, NJ - Thursday August 22, 1978 - Scraped News</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn" id="articles">
            <div class="head" id="articles"><span class="headline hl3">put scraped article headline here</span>
                <p><span class="headline hl4">scraped stuff more</span></p>
            </div>
            SCRAPING IS FUN!</p>
        </div>
        <div class="collumn">
            <div class="head"><span class="headline hl5">SCRAPE SCRAPE scrape</span>
                <p><span class="headline hl6">not sure about this content</span></p>
            </div>
            Scrapey scrap scrpaey scrap</p>
            <figure class="figure">
                <img class="media" src="https://media.giphy.com/media/7vfhdCIn13zm8/giphy.gif" alt="">
                <figcaption class="figcaption">Hermine hoping for courage.</figcaption>
            </figure>

            <p>Scrapey scrap scrpaey scrap p tag</p>

            <p>scrappeasdfglkjsdfhglksjdfhgl p tag</p>

        </div>
        <div class="collumn">
            <div class="head"><span class="headline hl1">Rutgers yayayaya</span>
                <p><span class="headline hl2">To scrape or not to scrape taht is the questions</p>
                <figure class="figure">
                    <img class="media" src="https://media.giphy.com/media/kzB53ztQtSEkE/giphy.gif" alt="">
                    <figcaption class="figcaption">"This time, let go your conscious self and act on instinct."
                    </figcaption>
                </figure>
                <p>CANNOT SCRAOE ANYTHING SO FRUSTRATING!!!</p>
                <p>Done with scraping I give up!!!</p>
            </div>
            <div class="collumn">
                <div class="head"><span  class="headline hl3">scraping sucks! </span>
                    
                </div>
                <p></p>scrappeasdfglkjsdfhglksjdfhgl

                <p>NO MORE  </p>
            </div>
        </div>
    </div>

    </body>

    </html>