body{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    background-image: url(../images/crinkled-paper.jpg);
    background-size: 100%;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    margin-top: 25px;

}
.delete-note {
    
    padding: 10px;
    font-family: 'Playfair Display';
    font-size: 16px;
    color: #2f2f2f;
    
}
.form-group {
    font-family: 'Playfair Display', serif;
    color: black;
    justify-content: center;
    background-color: #f9f7f1;
    padding: 20px;
    border: solid;
    border-color: #2f2f2f;
    margin-left: 40px;
    size: 400px;
}
textarea{
    font-family: 'Playfair Display', serif;
    color: black;
}
.singleArticle {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    border: solid;
    border-color: #2f2f2f;
    background-color: #f9f7f1;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
}


.col-lg-8 + .col-lg-4 { 
    border-left: 1px solid #2f2f2f;
  }

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    background-color: #f9f7f1;

}

img {
    vertical-align: top !important;
    width: 250px;
    height: auto;
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
   
}

#giffy {
    width: 200px;
}
.head{
    text-align: center;
    position: relative;


}

.content{    
    margin: 5% 2% 0 2%;
}

.colM{
    display: inline-block;
    font-size: 20px;
    margin-left: 22px;
}

.colM headlines {
    display: inline-block;
    font-size: 20px;
}
.alink {
    display: block;
}

.media .card-img-top {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    margin-top: 30px;
    border: #2f2f2f;
    border: solid;
    justify-content: center;
}
/* ________________________________________________________________________________________________________________________________*/


@media only all and (max-width: 1200px) {
    .colM{
        width: 31%;
    }

}
    @media only all and (max-width: 900px) {
    .colM{
        width: 47%;
    }

}
@media only all and (max-width: 600px) {
    .colM{
        width: 100%;
    }
	.col-lg-8 + .col-lg-4 {
				border-left: none;
      	border-bottom: 1px solid #2f2f2f;
	}
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    } 

} 